/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #668000;
  --ifm-color-primary-dark: #5c7300;
  --ifm-color-primary-darker: #576d00;
  --ifm-color-primary-darkest: #475a00;
  --ifm-color-primary-light: #708d00;
  --ifm-color-primary-lighter: #759300;
  --ifm-color-primary-lightest: #85a600;
  --ifm-background-color: #fffffc;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #98ce00;
  --ifm-color-primary-dark: #89b900;
  --ifm-color-primary-darker: #81af00;
  --ifm-color-primary-darkest: #6a9000;
  --ifm-color-primary-light: #a7e300;
  --ifm-color-primary-lighter: #afed00;
  --ifm-color-primary-lightest: #c0ff0d;
  --ifm-background-color: #001011;
}
